body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('./assets/fonts/Montserrat/Montserrat-Black.ttf');
  font-weight: bolder;
  font-style: normal
}

@font-face {
  font-family: 'Montserrat-VariableFont_wght';
  src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Palatino-Linotype';
  src: url('./assets/fonts/Palatino-Linotype/Palatino\ Linotype.ttf');
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat-Black';
  font-weight: bolder;
}

div, p {
  font-family: 'Montserrat-VariableFont_wght';
  font-weight: 400;
  font-size: 16px;
}

.navbar {
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
}

.logo-font {
  font-family: 'Palatino-Linotype';
  font-weight: 400;
}

.btn-gold {
  background-color: #ff9933;
  box-shadow: 0 10px 20px -14px rgba(0, 0, 0,.7);
}
.btn-gold:hover {
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.inactivetab:hover {
  background-color: #ffc107;
  border-color: #ffc107;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.review_rating_bar {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: 30px;
  background: #efefef;
}

.rating_value {
  height: 100%;
  background: #0d3d61;
}

.w-1 {
  width: 10%;
}
.w-2 {
  width: 20%;
}
.w-3 {
  width: 30%;
}
.w-4 {
  width: 40%;
}

.w-5 {
  width: 50%;
}

.w-6 {
  width: 60%;
}
.w-7 {
  width: 70%;
}
.w-8 {
  width: 80%;
}
.w-9 {
  width: 90%;
}

.w-10 {
  width: 100%;
}
